package route

import (
	"net/http"

	"{{.ProjectName}}/{{.Pkg.Handler}}"
)

func RegisterRoutes() {
{{if .UseAuth}}	http.HandleFunc("/register", handler.Register)
	http.HandleFunc("/login", handler.Login)
{{end}}{{range .Entities}}
	http.HandleFunc("/{{.Plural}}", func(w http.ResponseWriter, r *http.Request) {
		switch r.Method {
		case http.MethodGet:
			handler.List{{.Title}}s(w, r)
		case http.MethodPost:
			handler.Create{{.Title}}(w, r)
		default:
			w.WriteHeader(http.StatusMethodNotAllowed)
		}
	})
	http.HandleFunc("/{{.Plural}}/", func(w http.ResponseWriter, r *http.Request) {
		switch r.Method {
		case http.MethodGet:
			handler.Get{{.Title}}ByID(w, r)
		case http.MethodPut:
			handler.Update{{.Title}}(w, r)
		case http.MethodDelete:
			handler.Delete{{.Title}}(w, r)
		default:
			w.WriteHeader(http.StatusMethodNotAllowed)
		}
	})
{{end}}}
