package main

import (
	"log"
	"net/http"
	"os"

	"github.com/joho/godotenv"
	"github.com/labstack/echo/v4"
{{if .HasRoutes}}	"{{.ProjectName}}/{{.Pkg.Route}}"
{{end}})

func main() {
	err := godotenv.Load()
	if err != nil {
		log.Println("No .env file found")
	}

	e := echo.New()

	e.GET("/", func(c echo.Context) error {
		return c.String(http.StatusOK, "Hello from {{.ProjectName}}")
	})

{{if .HasRoutes}}	route.SetupRoutes(e)
{{end}}
	port := os.Getenv("APP_PORT")
	if port == "" {
		port = "3000"
	}

	e.Logger.Fatal(e.Start(":" + port))
}
