package main

import (
	"log"
	"net/http"
	"os"

	"github.com/gin-gonic/gin"
	"github.com/joho/godotenv"
{{if .HasRoutes}}	"{{.ProjectName}}/{{.Pkg.Route}}"
{{end}})

func main() {
	err := godotenv.Load()
	if err != nil {
		log.Println("No .env file found")
	}

{{if .HasRoutes}}	r := route.SetupRouter()
{{else}}	r := gin.Default()
{{end}}
	r.GET("/", func(c *gin.Context) {
		c.String(http.StatusOK, "Hello from {{.ProjectName}}")
	})

	port := os.Getenv("APP_PORT")
	if port == "" {
		port = "3000"
	}

	log.Printf("Server running on :%s", port)
	r.Run(":" + port)
}
