package main

import (
	"fmt"
	"log"
	"net/http"
	"os"

	"github.com/gorilla/mux"
	"github.com/joho/godotenv"
{{if .HasRoutes}}	"{{.ProjectName}}/{{.Pkg.Route}}"
{{end}})

func main() {
	err := godotenv.Load()
	if err != nil {
		log.Println("No .env file found")
	}

	r := mux.NewRouter()

	r.HandleFunc("/", func(w http.ResponseWriter, rq *http.Request) {
		fmt.Fprintln(w, "Hello from {{.ProjectName}}")
	})

{{if .HasRoutes}}	route.SetupRouter(r)
{{end}}
	port := os.Getenv("APP_PORT")
	if port == "" {
		port = "3000"
	}

	log.Printf("Server running on :%s", port)
	log.Fatal(http.ListenAndServe(":"+port, r))
}
